.info {
    padding: 1rem;
    color: white;
    position: relative;
    transition: .2s;

    .arrow {
        height: 0;
        width: 0;
        position: absolute;
        top: 3rem;
        right: 99%;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 5vw solid currentColor;
        transform: skewY(150deg);
        transition: .2s;
    }

    button {
        font-size: 1.5em;
        margin-right: .5em;
    }
}