.wheel {
    svg {
        height: 100%;
        width: 100%;
        overflow: visible;
        
        path {
            fill: none;
            stroke-width: 25px;
            transition: .2s;
            stroke-linecap: round;

            &:first-child,
            &:last-child, {
                stroke-linecap: butt;
            }

            &.current {
                stroke-width: 50px;
            }
        }
    }
}
