.wheel {
    padding: 3rem;

    svg {
        height: 100%;
        width: 100%;
        overflow: visible;

        circle.mask {
            fill: white;
        }
        
        path.range {
            fill: none;
            stroke-width: 2rem;
            transition: .2s;
            stroke-linecap: round;
            cursor: pointer;

            &:first-child,
            &:last-child, {
                stroke-linecap: butt;
            }

            &.current {
                stroke-width: 4rem;
            }
        }
    }
}
